.ContactUsPageContainer {
    height: auto;
    max-width: auto;
    width: 100vw;
    margin: 0 auto; 
    /* border: 1px solid #908F95; */
}

.contactPageLRContainer {
    display: flex;
    justify-content: center; 

}

.contactPageLeft {
    margin-left: 157px;
    margin-top: 64px;
    margin-bottom: 174px;
    height: 810px;
    width: 670px;
    /* border: 2px solid red; */
}

.contactPageRight {
    margin-left: 157px;
    margin-top: 95px;
    margin-bottom: 174px;
    height: 810px;
    width: 390px;
    /* border: 2px solid blue; */
}





.bannerContainer {
    width: 1622.86px;
    height: 560px;
}
.name {
    width: 321px;
    height: 52px;
    background: #FEFCFC;
    /* border: 1px solid #908F95; */
    border-radius: 8px;
}

.email {
    width: 321px;
    height: 52px;
    margin-left: 24px;
    background: #FEFCFC;
    /* border: 1px solid #908F95; */
    border-radius: 8px;
}

.company {
    width: 666px;
    height: 52px;
    margin-bottom: 96px;
    background: #FEFCFC;
    /* border: 1px solid #908F95; */
    border-radius: 8px;
}

.message {
    width: 666px;
    height: 472px;
    background: #FEFCFC;
    /* border: 1px solid #908F95; */
    border-radius: 8px;
}

form {
    display: flex; 
    flex-direction: column; 
    width: 500px; 
    margin: ; 
    /* border: 1px solid black;  */
    height: auto; 
  }
  
  .outer-div{
    display: flex; 
    margin-bottom: 68px; 
  }

  .submitButton {
      width: 158px;
      height: 56px;
      background-color: #5642CF;
      border-radius: 4px;
      margin-top: 30px;
      color: white;
      border: none;
  }

  .contactPageText {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 0.05em;
    color: #3A3748;
  }

  .addressPhoneContainer {
      display: flex;
      /* border: 2px solid green; */
    
  }
  .addressContainer, .phoneNumberContainer{
      
      width: 194px;
  }

  .contactPageRightIconContainer {
      display: flex;
      justify-content: space-between;
      width: 390px;
      margin-top: 29px;
  }

  .marginTop68 {
      margin-top: 68px;
  }

  .contactPageLogo {
      width: 40px;
      height: 40px;
  }

  .marginLeft {
      margin-left: 25px;
  }
  

  